{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "ec2:AuthorizeSecurityGroupIngress",
                "ec2:AttachInternetGateway",
                "cloudformation:CreateChangeSet",
                "iam:PutRolePolicy",
                "dynamodb:DeleteTable",
                "ec2:DeleteRouteTable",
                "ec2:CreateInternetGateway",
                "cloudformation:UpdateStack",
                "events:RemoveTargets",
                "sns:Subscribe",
                "ec2:DeleteInternetGateway",
                "logs:FilterLogEvents",
                "s3:DeleteObject",
                "iot:CreateCertificateFromCsr",
                "iam:GetRole",
                "events:DescribeRule",
                "sns:ListSubscriptionsByTopic",
                "iot:DisableTopicRule",
                "apigateway:*",
                "ec2:CreateTags",
                "sns:CreateTopic",
                "iam:DeleteRole",
                "s3:DeleteBucketPolicy",
                "iot:CreateTopicRule",
                "dynamodb:CreateTable",
                "s3:PutObject",
                "s3:PutBucketNotification",
                "cloudformation:DeleteStack",
                "ec2:CreateSubnet",
                "cloudformation:ValidateTemplate",
                "ec2:DeleteNetworkAclEntry",
                "iot:ReplaceTopicRule",
                "cloudformation:CreateUploadBucket",
                "cloudformation:CancelUpdateStack",
                "events:PutRule",
                "ec2:CreateVpc",
                "iot:CreatePolicy",
                "cloudformation:UpdateTerminationProtection",
                "sns:ListTopics",
                "s3:ListBucket",
                "cloudformation:EstimateTemplateCost",
                "iam:PassRole",
                "iot:DeleteTopicRule",
                "s3:PutBucketTagging",
                "iam:DeleteRolePolicy",
                "s3:DeleteBucket",
                "ec2:DeleteNetworkAcl",
                "states:CreateStateMachine",
                "iot:GetPolicy",
                "sns:GetTopicAttributes",
                "kinesis:DescribeStream",
                "sns:ListSubscriptions",
                "cloudformation:Describe*",
                "events:DeleteRule",
                "ec2:Describe*",
                "s3:ListAllMyBuckets",
                "s3:PutBucketWebsite",
                "s3:GetObjectVersion",
                "cloudformation:Get*",
                "ec2:DeleteSubnet",
                "states:DeleteStateMachine",
                "iam:CreateRole",
                "s3:CreateBucket",
                "sns:Unsubscribe",
                "cloudformation:ContinueUpdateRollback",
                "events:ListRuleNamesByTarget",
                "dynamodb:DescribeTable",
                "logs:GetLogEvents",
                "events:ListRules",
                "cloudformation:List*",
                "events:ListTargetsByRule",
                "cloudformation:ExecuteChangeSet",
                "kinesis:CreateStream",
                "ec2:CreateRouteTable",
                "sns:GetSubscriptionAttributes",
                "ec2:DetachInternetGateway",
                "logs:CreateLogGroup",
                "s3:GetObject",
                "kinesis:DeleteStream",
                "iot:EnableTopicRule",
                "ec2:DeleteVpc",
                "iot:DeleteThing",
                "sns:DeleteTopic",
                "logs:DescribeLogStreams",
                "s3:DeleteObjectVersion",
                "iot:DescribeCertificate",
                "sns:SetTopicAttributes",
                "s3:PutEncryptionConfiguration",
                "ec2:CreateSecurityGroup",
                "ec2:CreateNetworkAcl",
                "ec2:ModifyVpcAttribute",
                "iot:UpdateCertificate",
                "iot:CreateThing",
                "logs:DescribeLogGroups",
                "logs:DeleteLogGroup",
                "iot:DescribeThing",
                "execute-api:Invoke",
                "events:PutTargets",
                "cloudformation:PreviewStackUpdate",
                "sns:SetSubscriptionAttributes",
                "iot:DeletePolicy",
                "cloudformation:CreateStack",
                "ec2:DeleteSecurityGroup",
                "lambda:*",
                "s3:PutBucketPolicy",
                "ec2:CreateNetworkAclEntry"
            ],
            "Resource": "*"
        }
    ]
}